<h1> <%= @medication.name %> </h1>


<table class="table">
  <thead>
    <tr>
      <th>
	Patient
      </th>
      <th>
	Dosage / Schedule
      </th>
      <th>
	Dates
      </th>
      <th>
	Prescribed By
      </th>
    </tr>
  </thead>

  <tbody>
    <% @medication.prescriptions.each do |prescription| %>
      <tr>
	<td> <%= prescription.patient_name %> </td>
	<td> <%= prescription.dosage_with_schedule %> </td>
	<td> <%= prescription.dates %> </td>
	<td> <%= prescription.prescribed_by_name %> </td>
  <td> <%= link_to 'Destroy', @medication,  method: :delete,
    data: { confirm: 'Are you sure?' },
    class: 'btn btn-danger' %> </td>

</td>
      </tr>
    <% end %>
  </tbody>
</table>
